@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  /*background-color: #F8F8F8;*/
  background-color: #fff;
  font-family: 'Avenir', sans-serif;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
}  

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  }


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  text-decoration: none;
  /*color: white;*/
  color: black;
}

a:hover {
  /*color: black;*/
  color: rgba(0, 0, 0, 0.35);
}


ul {
	padding: 0;
	margin: 0 auto;
  width: 250px;
}

li {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5%;
  margin: 0 auto;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 0;
}

.wrapper {
  margin: 20px;
  margin: 0 auto;
}

.nav-up {
    top: -90px;
  }

/*header all section styling*/
.header-all {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 15px;
}

/*logo styling*/

.name-logo {
  margin-left: 22px;
}

.name-logo a {
  text-decoration: none;
  font-family: 'Fira Mono', monospace;
  font-size: 1.5em;
  color: black;
}

.name-logo a:hover {
  /*color: rgba(0, 0, 0, 0.35);*/
  color: orange;
}


/*updated mobile menu styling*/

.nav {
  margin-top: 15px;
}

.page-nav {
 display: inline-block;
 position: relative;
 margin-left: 73%;
}

.page-nav a{
  font-size: 1.3em;
}

.page-nav li a.active {
  color: #F36040;
  transition: all 0.3s ease-out;
}

/*main about styling*/

main {
  margin-top: 80px;
}

.intro-about {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Bai Jamjuree', sans-serif;
}

.intro-about img {
  width: 85%;
  margin-top: 30px;
}

.key-about {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 510px;
  padding: 25px;
}


.intro-text{
  line-height: 1.5em;
  margin-bottom: 15px;
  font-weight: 300;
  
}

.haha-key {
  font-size: 22px;
  font-style: italic; 
}

/*smiley face*/
span {
  content: "\263A";
}

footer {
padding: 20px;
}

.connect {
  border-top: solid 1px black;
  padding-top: 30px;
}

.connect a {
  font-family: 'Fira Mono', monospace;
}

.c-title {
margin-bottom: 25px;
font-weight: 500;
}

#cee {
  width: 120px;
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

#cee:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.email {
  margin-top: 30px;
  margin-bottom: 10px;
}

.email p {
  font-size: 13px;
}

.cr {
  font-family: 'Space Mono', monospace;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.35);
  max-width: 300px;
}

.cr p {
  font-size: 11px;
}

.hide {
  font-size: 10px;
}

.hide:hover {
  color: #4A556B;
}

/*media queries here*/

@media screen and (min-width: 500px){

  .intro-about img {
    width: 75%;
    margin-top: 30px;
  }

  .key-about {
  margin-top: 30px;
}

}

@media screen and (min-width: 680px){

  .header-all {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  .intro-about img {
    width: 70%;
  }

  .key-about {
    padding: 0;
  }

  footer {
    padding: 40px;
    padding-top: 20px;
  }
}



























