@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: neue-haas-grotesk-display, sans-serif;
  /*font-family: aktiv-grotesk-extended, sans-serif;*/
  font-weight: 400;
  font-style: normal;
  font-size: 15px; 
  padding: 0;
  display: flex;
  margin: 0;
  background-color: #fff;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 110px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  background-color: white;
  }


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  text-decoration: none;
  /*color: black;*/
  color: rgba(0, 0, 0, 0.55);
}

a:hover {
  color: rgba(0, 0, 0, 0.35);
}


ul {
	padding: 0;
	margin: 0 auto;
}

li {
  list-style: none;
  padding: 0;
  /*font-size: 13px;*/
  font-size: 1em;
  line-height: 20px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  overflow: hidden;
/*  border-radius: 1%;*/
}

p {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 0;
}

.inner {
  margin-top: 200px;
}

.spark {
    /*font-family: Moche-Regular;*/
    /*color: grey;*/
    font-family: Mazius-Display;
}

.title {
  position: relative;
}

.wrapper {
  width: 93%;
  margin: 0 auto;
}


/*header styling*/

.name-logo a {
  font-size: 1.6em;
  color: black;
}

.name-logo a:hover {
  color: orange;
}

.hero-section {
  transition: opacity 0.7s ease-in-out;
}

/*updated mobile menu styling*/

.nav-content {
  width: 93%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 1300px;
}

.page-nav a {
  font-size: 1.4em;
}

.page-nav li a.active {
  color: #F36040;
  transition: all 0.3s ease-out;
}

.nav-down{
  height: 110px;
}

/*footer styling*/

footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footers {
  padding-bottom: 20px;
}

footer p {
  font-size: 18px;
}

/* media queries */

@media screen and (min-width: 320px){
.logos {
    margin-right: 20px;
}

.name-lead {
  line-height: 40px;
}

.header-all {
  width: 90%;
}
}


@media screen and (min-width: 420px){
.logos {
    margin-right: 20px;
}

.name-lead {
  line-height: 40px;
}

.header-all {
  width: 94%;
}
}

@media screen and (min-width: 900px){

/*.wrapper {
  width: 100%;
  margin: 0 auto;
}
*/

main {
  margin: 0 auto;
}

.box {
  max-width: 1400px;
  justify-content: space-between;
  /*margin: 0 auto;*/
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-01 {
  width: 550px;
}

.column-02 {
  width: 200px;
  text-align: end;
}

.column-03 {
  width: 200px;
  text-align: end;
}
}

@media screen and (min-width: 1200px){
/*
.wrapper {
  max-width: 1300;
  margin: 0 auto;
}
*/

main {
  margin: 0 auto;
}

/*.lead {
  font-size: 30px;
  line-height: 40px;
}*/

.box {
  max-width: 1400px;
  justify-content: space-between;
  /*margin: 0 auto;*/
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-01 {
  width: 550px;
}

.column-02 {
  width: 200px;
  text-align: end;
}

.column-03 {
  width: 200px;
  text-align: end;
}
}

@media screen and (min-width: 1400px){

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}


main {
  /*max-width: 900px;*/
  margin: 0 auto;
}
}