.other-title {
  margin-top: 100px;
  border-top: 1px solid black;
  padding-top: 40px;
}

.bottom {
  /*max-width: 800px;*/
  margin: 0 auto;
  padding-bottom: 40px;
  /*padding: 20px;*/
}

.recommend {
  font-size: 18px;
}

.recommend a:hover {
  color: #6B6B6B;
}

.shook a {
  color: #FF240A;
}

.shook a:hover {
  color: #6B6B6B;
}

.project-next {
	margin-top: 40px;
}

.shownow {
	display: none;
}



@media screen and (min-width: 680px){

.showmenow p { position:relative; }

.showmenow p span { position:absolute; display:none; z-index:99; left: 420px; top: -80px;}

.showmenow p:hover span { display:block; width: 350px;}

.shownow {
  display: block;
}

.p2 p span { position:absolute; display:none; z-index:99; left: 420px; top: -120px;}

.p3 p span { position:absolute; display:none; z-index:99; left: 420px; top: -100px;}

/*.bottom {
  padding: 0;
}*/

.other-title {
  font-size: 24px;
  color: #9399A5;
}

}



