@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Avenir', sans-serif;
  margin: 0;
  display:flex;
  /*background-color: #fff9f9;*/
  background-color: #F8F8F8;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
} 

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  }


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  text-decoration: none;
  /*color: white;*/
  color: black;
}

a:hover {
  /*color: black;*/
  color: rgba(0, 0, 0, 0.35);
}


ul {
  padding: 0;
  margin: 0 auto;
  width: 250px;
}

li {
  list-style: none;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5%;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 0;
}

.wrapper {
  margin: 20px;
}

.nav-up {
    top: -90px;
  }


/*header all section styling*/
.header-all {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 15px;
}

/*logo styling*/

.name-logo {
  margin-left: 22px;
}

.name-logo a {
  text-decoration: none;
  font-family: 'Fira Mono', monospace;
  font-size: 1.3em;
  color: black;
}

.name-logo a:hover {
  /*color: white;*/
  color: rgba(0, 0, 0, 0.35);
}

.hero-section {
  transition: opacity 0.7s ease-in-out;
  margin: 0 auto;
}


/*updated mobile menu styling*/

.nav {
  margin-top: 15px;
}

.page-nav {
 display: inline-block;
 position: relative;
 margin-left: 73%;
}

.page-nav a{
  font-size: 1.3em;
}

/* footer designs */

.cr {
  font-family: 'Space Mono', monospace;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.35);
  max-width: 300px;
}

.cr p {
  font-size: 11px;
}

.links {
  text-transform: none;
  text-align: center;
  margin: 0 auto;
  color: black;
}

.links p{
  /*font-family: 'Space Mono', monospace;*/
  margin-top: 10px;
  font-size: 10px;
}

.hide {
  /*color: rgba(0, 0, 0, 0.35);*/
  font-size: 10px;
}

.hide:hover {
  color: #4A556B;
}

















/*start of core content*/

.core {
  margin: 0 auto;
}

.core-title {
  color: grey;
}

.project-title {
  /*font-family: 'Apercu', sans-serif;*/
  text-align: center;
  letter-spacing: 0.13em;
  font-size: 1.9em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 25px;
  color: black;
  padding-bottom: 15px;
}

.sub-title {
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
/*  padding-top: 15px;
  padding-bottom: 15px;*/
  background-color: #B1D3D8;
}

.timeline {
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
  /*font-family: 'Lato', sans-serif;*/
  letter-spacing: 1px;
  line-height: 18px;
  margin-top: 0;
  padding-top: 15px;
}

.open-img {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 25px;
}

.project-brief-bottom {
  padding-bottom: 30px;
  border-bottom: black solid 1px;
}

.sig {
  font-size: 1.7em;
  font-weight: 400;
}

.context-section {
  padding-top: 30px;
}

.section-title {
  font-size: 2.1em;
  font-weight: 500;
}

/*.role-title {
margin-top: 30px;
}*/

.title {
  /*font-family: 'Apercu', sans-serif;*/
  font-weight: 400;
  font-size: 1.3em;
  color: grey;
  margin: 0px;
}

.title.intro {
  padding-top: 15px;
  padding-bottom: 15px;
}

.questions-context {
  padding-top: 20px;
}


.question {
  line-height: 1.5em;
}


.text {
  line-height: 1.5em;
  letter-spacing: 0.5px;
}


.discovery-content ul {
  line-height: 1.3em;
  letter-spacing: 0.5px;
}


.other-projects {
  margin: 0 auto;
}

.other-title {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 12%;
  font-size: 1.3em;
  margin: 0 auto;
}

.project-next {
  width: 90%;
  text-align: left;
  width: 300px;
  margin: 0 auto;
  padding: 15px 0 20px 0;
}

.other-projects p {
  line-height: 1.3em;
  margin: 0;
}

.other-projects a {
/*font-family: 'Abhaya Libre', serif;*/
font-family: 'Apercu', sans-serif;
font-size: 1.4em;
text-decoration: none;
}

.other-projects a:hover {
  color: orange;
}

.bottom {
  margin-top: 70px;
}

/*media queries here*/


@media screen and (min-width: 400px){

.page-nav {
  display: block;
}

}

@media screen and (min-width: 500px){

}


@media screen and (min-width: 680px){

.header-all {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 20px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.cr {
  max-width: 900px;
  margin: 0 auto;
}

footer {
  margin-bottom: 40px;
}






.core {
  width: 83%;
  margin: 0 auto;
}

.intro {
  line-height: 1em;
}

/*desk top design start*/

.brief {
  display: flex;
  justify-content: space-between;
}

.summary {
  width: 700px;
}

.project-title {
  text-align: left;
  width: 70%;
  margin: 0;
}

.sub-title {
  text-align: left;
  width: 45%;
  margin: 0;
  font-size: 1em;
  padding: 30px 0 30px 0;
}

.timeline {
  text-align: left;
  width: 45%;
  margin: 0;
  font-size: 0.8em;
}

.project-brief-bottom.text {
  padding-bottom: 0;
  border-bottom: none;
}


.intro-tgt {
  display: flex;
  justify-content: space-between;
}

.content .intro {
  display: block;
}

.client {
  text-align: right;
}

.highlight {
  background-color: lightblue;
}

.ask {
    text-align: center;
}

.goals {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

.bizgoals {
  width: 300px;
  display: block;
  padding: 30px;
  padding: 0 30px 0 30px;
  border: 2px solid #9CCDC9;
}

.sitegoals {
  width: 300px;
  display: block;
  text-align: left;
  padding: 0 30px 0 30px;
  border: 2px solid #9CCDC9;
}

.vid-all {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /*background-color: #E8EAEF;*/
}

.video-description {
  width: 40%;
  padding: 15px;
}



}

@media screen and (min-width: 1000px){

.core {
  width: 80%;
  margin: 0 auto;
}

.text {
  font-size: 1em;
}

/*video*/

.video-description {
  margin-top: 30px;
}


/* other project styling */

.other-projects {
  display: flex;
  flex-direction: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}

.project-next {
  width: 90%;
  margin-right: 220px;
}

.other-title {
  padding-top: 50px;
  padding-left: 15%;
  font-size: 1.1em;

}

.actual-other {
  margin-top: 45px;
}

.bottom {
  margin-top: 100px;
}
  
}


@media screen and (min-width: 1200px){

.core {
  width: 85%;
  margin: 0 auto;
}

.video-description {
  margin-top: 80px;
}

}

