@charset "utf-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  /*background-color: #F8F8F8;*/
  background-color: #fff;
  font-family: 'Bai Jamjuree', sans-serif;
  /*font-family: 'Avenir', sans-serif;*/
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
}  

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  transition: top 0.35s ease-in-out;
  z-index: 7000;
  }


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  text-decoration: none;
  /*color: white;*/
  color: black;
}

a:hover {
  /*color: black;*/
  color: rgba(0, 0, 0, 0.35);
}

.flower-link {
  text-decoration: underline;
}


ul {
	padding: 0;
	margin: 0 auto;
  width: 250px;
}

li {
  list-style: none;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
}

img {
  /*max-width: 100%;*/
  width: 310px;
  height: auto;
  border-radius: 0.5%;
  margin: 0 auto;
  padding-bottom: 15px;
}

p {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.5px;
  margin: 0;
}

.wrapper {
  margin: 20px;
  margin: 0 auto;
}

.nav-up {
    top: -90px;
  }

/*header all section styling*/
.header-all {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 15px;
}

/*logo styling*/

.name-logo {
  margin-left: 22px;
}

.name-logo a {
  text-decoration: none;
  font-family: 'Fira Mono', monospace;
  font-size: 1.3em;
  color: black;
}

.name-logo a:hover {
  /*color: rgba(0, 0, 0, 0.35);*/
  color: orange;
}


/*updated mobile menu styling*/

.nav {
  margin-top: 15px;
}

.page-nav {
 display: inline-block;
 position: relative;
 margin-left: 73%;
}

.page-nav a{
  font-size: 1.3em;
}

.page-nav li a.active {
  color: #F36040;
  transition: all 0.3s ease-out;
}

.breakfast {
  margin-top: 180px;
}

/* main floral styling */

.pics_wrapper {
  padding-top: 70px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0 auto;
}

.floral_text {
  margin: 30px 35px 30px 35px;
  text-align: left;
}

.photos_text {
  margin: 30px 35px 30px 35px;
  text-align: left;
}

.img_title {
  font-family: 'Fira Mono', monospace;
}

.img_title p {
  font-size: 20px;
  margin-bottom: 10px;
}

.img_description {
  padding-top: 9px;
  max-width: 500px;
}

.middle {
  padding: 15px 35px 30px 35px;
  text-align: left;
}

.end {
  margin-top: 25px;
}

/*.end {
  padding: 10px 30px 30px 30px;
  text-align: left;
}*/

.collab {
  padding: 20px 0 20px 0;
}

/* pics_01 styling */

.pics_01 {
  max-width: 1000;
  margin: 0 auto;
}

.pics_01 img {
  /*width: 300px;*/
}

/* pics_02 styling */

.pics_02 {
  max-width: 1000;
  margin: 0 auto;
}

.pics_02 img {
  /*width: 300px;*/
  /*height: auto;*/
}

/* footer designs */

footer {
  margin-bottom: 20px;
}

.cr {
  font-family: 'Fira Mono', monospace;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.35);
  max-width: 300px;
}

.cr p {
  font-size: 11px;
}

.links {
  text-transform: none;
  text-align: center;
  margin: 0 auto;
  color: black;
}

.links p{
  margin-top: 10px;
  font-size: 10px;
}

.hide {
  font-size: 10px;
}

.hide:hover {
  color: #4A556B;
}

/* media queries here */

@media screen and (min-width: 680px){

.header-all {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 20px;
}

.wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.img_title p {
  font-size: 28px;
}

  .pics_01 img {
    margin: 10px;
  }

  .pics-set-1 {
    padding-bottom: 25px;
  }

  .pics_02 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
  }

  .pics_02 img {
    margin: 10px;
  }

  .pics-set-2 {
    padding-top: 50px;
  }

  .middle {
  padding: 0px 35px 0px 35px;
  width: 500px;
  text-align: right;
}

  .img-1 {
    width: 340px;
  }

  .img-3 {
    width: 350px;
  }

  .img-4 {
    width: 380px;
    padding-bottom: 170px;
  }

  .pics_03 img {
    margin: 10px;
    /*width: 295px;*/
  }

  .pics_04 img {
    margin: 10px;
    /*width: 285px;*/
  }

  .special {
    width: 500px;
  }

  .smaller {
    width: 200px;
  }

  .greenhouse {
    padding-bottom: 50px;
  }

  .broccoli {
    padding-bottom: 160px;
  }

  .romance {
    width: 500px;
  }

  .sand {
    width: 500px;
  }

  .sandy p {
    width: 100px;
  }

  footer {
  margin-bottom: 40px;
  }

}





