@font-face {
    font-family: 'Moche-Regular';
    src: url('../fonts/Moche-Regular.eot');
    src: url('../fonts/Moche-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Moche-Regular.woff') format('woff'),
         url('../fonts/Moche-Regular.ttf') format('truetype'),
         url('../fonts/Moche-Regular.svg#Moche-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mazius-Display';
    src: url('../fonts/Mazius-Display-Italic.eot');
    src: url('../fonts/Mazius-Display-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mazius-Display-Italic.woff') format('woff'),
         url('../fonts/Mazius-Display-Italic.ttf') format('truetype'),
         url('../fonts/Mazius-Display-Italic.svg#Mazius-Display-Italic') format('svg');
    font-weight: normal;
    font-style: normal;

}