.video-top {
  margin-top: 90px;
}

.written-title {
	width: ;
}
.side-img {
	 padding-top: 20px;
  padding-bottom: 20px;
}



/* video styling */
/*Doubled needs to be put into core*/

.video-container {
  width: 102%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0.5%;
  /*background-color: #D9E0E9;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

.video-container video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 680px){

#menu {
  margin-top: 60px;
}

video {
  margin-top: 100px;
  margin-left: 10px;
  border: white 3px solid;
  overflow: hidden;
}

.video-container {
  right: 20px;
}

.video-top {
  max-width: 700px;
  margin: 0 auto;
  border: white 3px solid;
  overflow: hidden;
}

.g-title {
	max-width: 450px;
}

/*.written-title {
	width: 300px;
}*/



.written {
	max-width: 350px;
}

}
