

.grid-container {
  display: grid;
}

/* specific media queries */

@media screen and (min-width: 320px){


}


@media screen and (min-width: 400px){

 
}

@media screen and (min-width: 680px){

.wrapper {
    max-width: 1000px;
}

.core {
    max-width: 1000px;
}

.grid-item {
    width: 300px;
}

}