/** {
    margin: 0;
    border: 0;
    padding:0;
}*/

.process-menu {
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 8000;
  position: static;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  /*background-color: #333;*/
  background: linear-gradient(#FFFFFF, #FFFFFF 10%);
  width: 836px;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: black;
  /*color: #f2f2f2;*/
  /*text-align: center;*/
  padding-right: 30px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 500000;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 120px;
}

/*test end HEREEEEEEEEEEEEEEEEEE*/

/*personal test*/




/* end of personal test*/

#menu a {
    color: grey;
}

#menu a:hover {
    color: #363636;
}

/*#menu .highlighted {
    background-color: yellow;
}*/

.mobile-hide {
    display: none;
    z-index: -5;
}

#menu {
    display: none;
}

.menu {
    display: none;
}



/* specific media queries */

@media screen and (min-width: 320px){

#menu {
    display: none;
}

#content {
    margin: 0 auto;
}

 
}


@media screen and (min-width: 400px){

 
}

@media screen and (min-width: 900px){

.mobile-hide {
    display: block;
}


#menu {
    display: block;
}

#menu {
    position: fixed;
    list-style-type: none;
/*    left: 20px;*/
    top: 110px;
    width: 100px;
}


}

@media screen and (min-width: 1050px){

#menu {
    /*display: block;*/
    position: fixed;
    list-style-type: none;
/*    left: 20px;*/
    top: 110px;
    width: 120px;
}


#menu li {
    padding: 2px;
}

.indepth{
    margin-left: 20px;
}

}