@charset "utf-8";

.internal_link {
  text-decoration: underline;
  color: #2E4469;
  background-color: aliceblue;
}

.emphasize {
  background-color: #4882E5;
  color: #E2E9F5;
}

.emphasize p {
}

.points-made li {
  list-style: circle;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
}

.emphasize-point li {
  text-decoration: underline;
}

/* video styling */

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0.5%;
}

.video-container video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


}

/* specific media queries */

@media screen and (min-width: 320px){

 
}

@media screen and (min-width: 400px){

.project-img {
  width: 400px;
  display: block;
  margin: 0 auto;
  padding-bottom: 12px;
}

.video-container {
  max-height: 400px;
}
 
}

@media screen and (min-width: 680px){

.video-container {
  max-height: 500px;

}
 
}



@media screen and (min-width: 1000px){

 
}


@media screen and (min-width: 1200px){


}