@charset "utf-8";

.disclaimer {
  color: #AAAAAA;
  /*font-size: 15px;*/
}

.internal-link {
  color: #FF6E38;
}

.highlight {
  font-size: 20px;
  font-style: italic;
  color: #6B6B6B;
  /*background-color: #C9D4E0;*/
}

/*highlight effect*/

.marked {
  background-color: #fff2ac;;
}

.shook a {
  color: #FF240A;
}

.shook a:hover {
  color: #6B6B6B;
}

.caption {
  font-size: 15px;
  color: #AAAAAA;
  text-align: center;
}

.outside-img {
  padding-top: 25px;
}

.break-top {
  padding-top: 75px;
}

.break-bottom {
  padding-bottom: 75px;
}

.break {
  padding: 75px 0 75px 0;
}



.emphasize {
  /*background-color: #4882E5;*/
  background-color: #8DC2FE;
  /*color: white;*/
  /*color: #E2E9F5;*/
  max-width: 570px;
}

.emphasize p {

}

.wowza {
  color: #FF6E38;
}

.shownow {
  display: none;
}

.no-link {
  /*color: white;*/
}

.no-link:hover {
  color: white;
}

.points-made {
  line-height: 25px;
}

.points-made li {
  list-style: circle;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 25px;
}

.emphasize-point li {
  text-decoration: underline;
  background-color: #8DC2FE;
  max-width: 290px;
}

/* video styling */

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0.5%;
}

.video-container video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


}

/* specific media queries */

@media screen and (min-width: 320px){

 
}

@media screen and (min-width: 400px){

.project-img {
  display: block;
  margin: 0 auto;
  padding-bottom: 12px;
}

.reason-img {
  display: block;
  margin: 0 auto;
  padding-bottom: 12px;
}

.content-img {
  display: block;
  margin: 0 auto;
  padding-bottom: 12px;
}


.video-container {
  max-height: 400px;
}

ul {
  min-width: 90%;
}

.points-made {
  padding-bottom: 15px;
}

/*.points-made li {
   font-size: 15px;
}*/

.shownow img {
  width: 500px;
}
 
}

@media screen and (min-width: 680px){

.showme p { position:relative; }

.showme p span { position:absolute; display:none; z-index:99; left: 190px; top: -190px;}

.showme p:hover span { display:block; width: 550px;
}

.shownow {
  display: block;
}

.project-img {
  width: 400px;
}

.reason-img {
  width: 600px;
}

/* larger styling inside smaller div */

.content-span {
  height: 500px;
}

.content-img img {
  max-width: 800px;
  margin-top: 60px;
  padding-bottom: 20px;
  /*text-align: center;*/
  position: relative;
   left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
}

.info-specific {
  margin-top: 40px;
}

.points-made {
  width: 500px;
}

.points-made li {
  font-size: 17px;
  line-height: 30px;
}

.video-container {
  max-height: 500px;
}

}



@media screen and (min-width: 1000px){

 
}


@media screen and (min-width: 1200px){


}